.row
  .col-lg-6.col-md-6.col-sm-6.col-xs-12
    span.glyphicon.glyphicon-user(aria-hidden="true")
    = " "
    a(href="https://github.com/cu39") cu39 on github
  .col-lg-6.col-md-6.col-sm-6.col-xs-12
    p.copyright &copy; 2015 cu39
