doctype html
html
  head
    include _head.jade
  body
    div.container
      div.row
        main.col-lg-8.col-lg-offset-2.col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.col-xs-12
          include _header.jade
          != contents
      div.row
        aside.footer.col-lg-4.col-lg-offset-2.col-md-4.col-md-offset-2.col-sm-5.col-sm-offset-1.col-xs-6
          include _footer.jade
    include _foot_scripts.jade
